{% extends "base/default-page.html" %}
{% import '/base/html-renderer.html' as renderer %}

{% block content %}
<div>
    <div class="ui stackable four column grid">
        <div class="row">
            {% for submit_flag in submit_flags %}
            <div class="column">
                <div class="ui card">
                    <div class="content">
                        <div class="header">{{ submit_flag.problem_header }}</div>
                    </div>
                    <div class="content">
                        <div class="ui small feed">
                            <div class="content">
                                <h5 class="ui sub header">Point : {{ submit_flag.point }}</h5>
                            </div>
                        </div>
                    </div>
                    <div class="content">
                        <div class="ui small feed">
                            <div class="content">
                                <h5 class="ui sub header">Status : {{ submit_flag.status }}</h5>
                            </div>
                        </div>
                    </div>
                    <div class="content">
                        <div class="ui small feed">
                            <div class="content">
                                <h5 class="ui sub header">Type : {{ submit_flag.category }}</h5>
                            </div>
                        </div>
                    </div>
                    <div class="extra content">
                        <a class="ui primary button" onclick="showQuestion('{{ submit_flag.id }}')">Click</a>
                    </div>
                    <div class="ui small modal {{ submit_flag.id }}">
                        <div class="header">{{ submit_flag.problem_header }}</div>
                        <div class="content">
                            <h4 class="ui headers">
                                Description : {{ submit_flag.description }}
                            </h4>
                            <a href="{{url_for('submit_flags.download', submit_flag_id=submit_flag.id)}}">dowload
                                file</a>
                            <div class="ui fluid action input">
                                <input type="text" placeholder="flag">
                                <div class="ui button">Submit</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

</div>

{% endblock %}
{% block additional_js %}
<script>
    function showQuestion(submit_flag) {
        submit_flag ? $('.ui.small.modal.' + submit_flag).modal('show') : $('.ui.small.modal').modal('hide')
            ;
    }
</script>
{% endblock %}